.page {
  display: flex;
  flex-direction: column;
  gap: clamp(40px, 5.618vh + 2.472px, 60px);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content auto;
  height: 100dvh;
  min-height: 668px;
}

.decorated-zone:after {
  content: "";
  display: block;
  position: absolute;
  right: clamp(10px, 2.5445vw + 0.458px, 20px);
  top: clamp(10px, 2.809vh - 8.764px, 20px);
  width: 25px;
  height: 25px;
  border-left: none;
  border-bottom: none;
  border-right: 1px solid var(--corner-color);
  border-top: 1px solid var(--corner-color);
}

.decorated-zone:before {
  content: "";
  display: block;
  position: absolute;
  left: clamp(10px, 2.54vw + 0.46px, 20px);
  bottom: clamp(10px, 2.81vh - 8.76px, 20px);
  width: 25px;
  height: 25px;
  border-top: none;
  border-right: none;
  border-left: 1px solid var(--corner-color);
  border-bottom: 1px solid var(--corner-color);
}

.rec_wrap {
  grid-row: 1;
  display: flex;
  justify-content: end;
  align-items: start;
  padding-right: clamp(19px, calc(19px + (100vw - 375px) * 0.0254), 29px);
  padding-top: clamp(10px, 10px + (100vh - 668px) * (10 / 356), 20px);
  padding-bottom: clamp(39px, 39px + (100vh - 668px) * (107 / 356), 146px);
}

.rec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 52px;
  height: 26px;
  font-family: var(--font-family), monospace;
  font-weight: var(--text-card-font-weight);
  font-size: var(--text-size);
  line-height: 1.389em;
  letter-spacing: 0;
  text-align: center;
  color: #ff0070;
  visibility: var(--visual-hidden);
}

.rec::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background-color: #ff0070;
  box-shadow: 0px 0px 4px 2px #ff0070;
  border-radius: 50%;
}

.menu_wrap {
  grid-row: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: start;
  padding-right: clamp(10px, calc(10px + (100vw - 375px) * 0.02545), 20px);
  padding-bottom: clamp(65px, 65px + (100vh - 668px) * (108 / 356), 173px);
}

.header__theme-menu {
  width: 70px;
}

.header__theme-menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.header__theme-menu-item {
  flex-grow: 1;
}

.header__theme-menu-button {
  font-family: var(--font-family), monospace;
  font-weight: var(--text-card-font-weight);
  font-size: var(--text-size);
  line-height: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  letter-spacing: 0;
  text-align: center;
  background-color: transparent;
  border: none;
  color: var(--button-color);
  width: 100%;
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
  padding-top: 3px;
  padding-bottom: 3px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--semi-transparent-frame);
  padding-bottom: 3px;
  padding-top: 3px;
}

.no_focus {
  grid-row: 3;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  padding-left: 10px;
  font-family: var(--font-family), monospace;
  font-weight: var(--title-font-weight);
  font-size: clamp(116px, calc(16.016vw - 7px), 157px);
  line-height: 83%;
  letter-spacing: 0;
  color: var(--no-focus-color);
  text-shadow: 4px 4px 0 var(--color-shadow-no-focus);
}

.header_title_wrap {
  grid-row: 4;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-left: calc(95.1653% - 346.87px);
  padding-right: calc(1000% / 393 + 60px / 131);
  padding-bottom: clamp(14px, calc(14px + (100vh - 668px) * 0.03933), 20px);
}

.title {
  font-family: var(--font-family), monospace;
  font-weight: var(--title-font-weight);
  font-size: var(--text-size);
  line-height: 130%;
  letter-spacing: 0;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  gap: clamp(49px, calc(49px + (100vh - 668px) * 0.08707865), 80px);
  padding-left: clamp(10px, 2.54vw + 0.46px, 20px);
  padding-right: clamp(10px, 2.5445vw + 0.458px, 20px);
}

.content {
  display: grid;
  gap: 20px;
}

.section_header {
  font-family: var(--font-family);
  font-weight: var(--title-font-weight);
  font-size: var(--text-size);
  line-height: 130%;
  letter-spacing: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: var(--section-header-color);
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
}

.card_title {
  font-family: var(--font-family), monospace;
  font-weight: var(--title-font-weight);
  font-size: var(--text-size);
  line-height: 130%;
  letter-spacing: 0;
}

.section_advice .card h3 {
  margin-block-end: 10px;
}

.title-decor {
  background-color: var(--bg-paragraph-title);
  color: var(--title-decor-text-color);
}

.card_title.special_card_title {
  font-weight: var(--text-card-font-weight);
}

.card_paragraph {
  font-family: var(--font-family), monospace;
  font-weight: var(--text-card-font-weight);
  font-size: var(--text-size);
  line-height: 130%;
  letter-spacing: 0;
  color: var(--text-color);
}

.link {
  font-family: var(--font-family), monospace;
  font-weight: var(--text-card-font-weight);
  font-size: var(--font-size);
  line-height: 100%;
  letter-spacing: 0;
  text-shadow: var(--link-shadow);
  text-decoration: none;
  display: inline-block;
  color: var(--text-color);
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus-visible {
  outline: none;
  border: 1px solid var(--text-color);
}

.section_images {
  display: grid;
  gap: 10px;
}

.section_images .section_header {
  width: 100%;
  max-width: 100%;
}

.image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  height: 100dvh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.focus {
  font-family: var(--font-family), monospace;
  font-weight: var(--title-font-weight);
  font-size: clamp(120px, calc(14.45vw + 9px), 157px);
  line-height: 83%;
  letter-spacing: 0;
  color: var(--no-focus-color);
  text-shadow: 2px 2px 0 var(--color-shadow-focus);
}

@media (768px <= width) {
  .no_focus {
    padding-left: 0px;
  }

  .section_explain {
    grid-template-columns: 32.417% 64.83%;
  }

  .section_header_explain {
    grid-row: 1;
    grid-column: 1;
  }

  .section_explain .card {
    grid-column: 2;
  }

  .section_header_decline {
    width: 32.417%;
  }

  .section_advice {
    grid-template-columns: 32.417% 64.83%;
  }

  .section_advice .card {
    grid-column: 2;
  }

  .section_images {
    grid-template-columns:
      minmax(230px, auto)
      minmax(230px, auto)
      minmax(230px, auto);
    gap: 20px;
  }

  .section_images .section_header {
    width: 100%;
    grid-column: 1/4;
  }

  .image-sunset {
    grid-column: 1/3;
    grid-row: 2;
  }

  .image-ice-cream {
    grid-column: 3;
    grid-row: 2/4;
  }

  .image-tape {
    grid-column: 1;
    grid-row: 3/5;
  }

  .image-book {
    grid-column: 2;
    grid-row: 3;
  }

  .image-street {
    grid-column: 2/4;
    grid-row: 4;
  }
}

@media (1024px <= width) {
  .header {
    grid-template-columns: auto min-content;
    grid-template-rows: min-content min-content auto;
  }

  .menu_wrap {
    flex-wrap: nowrap;
    justify-content: space-between;
    grid-row: 1;
    grid-column: 1;
    padding-left: calc(397px + (100% - 943px) * 0.2824);
    padding-right: calc(316px + (100% - 943px) * (253 / 896));
    padding-top: 20px;
    padding-bottom: calc(273px + (100vh - 768px) * (127 / 432));
  }

  .header__theme-menu {
    width: 230px;
  }

  .rec_wrap {
    grid-column: 2;
    grid-row: 1;
    padding-top: 20px;
    padding-right: 30px;
  }

  .decorated-zone::after {
    top: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
  }

  .no_focus {
    grid-row: 2;
    grid-column: 1;
  }

  .header_title_wrap {
    grid-row: 3;
    grid-column: 1/3;
    padding-top: calc(114px + (100vh - 768px) * (86 / 432));
    padding-bottom: calc(134px + (100vh - 768px) * (86 / 432));
    padding-left: calc(513px + (100% - 1024px) * (87 / 896));
    padding-right: 20px;
  }

  .page {
    gap: 60px;
  }

  main {
    gap: 80px;
  }

  .section_explain {
    grid-template-columns: 32.012% 65.955%;
  }

  .section_decline {
    grid-template-columns: 32.012% 32.012% 32.012%;
    grid-template-rows: min-content auto;
  }

  .section_header_decline {
    grid-row: 1;
    grid-column: 1/4;
    width: 32.012%;
  }

  .section_advice {
    grid-template-columns: 32.012% 65.955%;
  }

  .section_decline .card {
    align-self: start;
    grid-row: 2;
  }
}
