/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
--bg-image: url("../images/cover-image-dark.png"); 
--font-family: "IBM Plex Mono";
--text-size: 18px;
--text-color: #F1B2CE; 
--accent-bg-color: #FF0070; 
--corner-color: #FF0070; 
--button-color: #FF0070; 
--header-bg-color: #FF0070; 
--section-header-color: #FF0070; 
--no-focus-color: #DB00FF; 
--color-shadow-no-focus: #FF0070; 
--color-shadow-focus: #FF0070;
--paragraph-title: #000028; 
--bg-paragraph-title: #FF0070; 
--title-font-weight: bold;
--title-decor-text-color: #000028;
--text-card-font-weight: normal;
--link-shadow: 2px 2px 1px #FF0070;
--semi-transparent-frame: #FF007066;
}